@font-face {
  font-family: 'Unified';
  src: url('/assets/fonts/Unified-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('/assets/fonts/CaviarDreams.ttf')  format('truetype')
}

// @font-face {
//   font-family: 'MankSans';
//   src: url('/assets/fonts/MankSans.ttf')  format('truetype')
// }

@font-face {
  font-family: 'MankSans-Medium';
  src: url('/assets/fonts/MankSans-Medium.ttf')  format('truetype')
}


@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,600,900");

//@import url('https://fonts.googleapis.com/css?family=Lato');
