@import './_vars';

@import './mixins/_breakpoint.scss';
@import './mixins/_keyframes.scss';

@import './_normalize';
@import './_controls';
@import './_fonts';
@import './_layout';


#root {
	height: 100%;
	color: #ddd;

	> div {
		height: 100%;
	}
}