@import '~style/vars';

.project {

	.header {
		background: $blue;
		padding: $headerPadding;
	}

	.messages {
		position: fixed;
		top: $headerHeight;
		right: 0;
		background: $green;
		min-width: 200px;
		width: 15vw;
		opacity: .8;
		text-align: right;

		h3 {
			font-size: 1em;
			font-weight: bold;
			padding: 5px;
			height: $headerHeight;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		li {
			padding: 5px;
			text-align: right;
			font-size: .8em;
			color: white;

			&:hover {
				background: rgba(white, .2);
			}
		}
	}

	#spectrums {
		width: 100%;

		.heading {
			padding: 10px;

			.btn {
				margin-right: 5px;
			}

			h2 {
				font-size: 1.2em;
				padding: $headerPadding;
			}

			.sub {
				font-size: .8em;
				margin: 10px 0 0;
			}
		}

		.spectrum-list {
			flex: 1;
			min-width: 300px;

			> li {
				padding: 5px;
			}

			.options {
				display: flex;

				&:hover {
					background: $colorFade1;
				}

				.field {
					flex: 1;
					display: flex;
					align-items: center;

					label {
						font-size: 10px;
						margin: 0 5px;
						text-align: right;
						min-width: 40px;
						line-height: calc(1em + 2px);
					}

					.input {
						min-width: 60px;
						max-width: 120px;

						input {
							width: 100%;
							font-size: 12px;
							padding: 5px;
						}
					}

					&.name {
						input {
							min-width: 100px;
						}
					}

					&.actions {
						padding-left: 10px;
						.input {
							padding: 2px;
						}
					}
				}
			}

			.details {

				$colCount: 12;
				.notes {
					width: 100%;
					padding: $itemPadding;

					display: flex;
					flex-wrap: wrap;

					.note {
						width: auto;
						min-width: 12vw;
						font-size: 12px;
						font-weight: normal;
						font-family: 'arial';
						letter-spacing: 1px;
						display: flex;
						flex-wrap: nowrap;
						align-items: center;

						.index {
							font-size: 8px;
							font-weight: bold;
							background: rgba( lighten($green, 40%), .2);
							width: 25px;
							text-align: center;
							color: #ddd;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							padding: 2px;
							height: 100%;
						}

						.frequency {
							flex: 2;
							background: rgba($green, .2);
							min-width: 60px;
							width: auto;
							padding: 3px;
							font-size: 1vw;
							letter-spacing: 2px;
						}

						&:hover {
							cursor: pointer;

							.index {
								background: rgba( lighten($green, 30%), .3);
							}
							
							.frequency {
								background: rgba( lighten($green, 50%), .3);
							}
						}
					}
				}
			}
		}
	}
}